{% extends 'layout.html'%}
{% block content %}

{% from '_macros.html' import camposNuevos%}
<div class="container">
<div class="row">
    <form action="sent" action="/index" id="contactForm" method="POST">
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{camposNuevos(form.apaterno,class='form-control')}}
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{camposNuevos(form.email,class='form-control')}}
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="submit" id="send-singup" name="singup" value="Registro">
    </form>cdcdecd
</div>
</div>
{% endblock %} 
