<!-- {% extends "layout.html" %}

{% block content %}
<h1> Operaciones Básicas </h1>
<form action="/resultado" method="POST">
    <label> N1: </label>
    <input type = "text" name = "n1"><br>
    <label> N2: </label>
    <input type = "text" name = "n2"><br>
    <input type="radio" name="suma" id="suma" style="margin-right: 5px;"/> Suma<br>
    <input type="radio" name="resta" id="resta" style="margin-right: 5px;"/> Resta<br>
    <input type="radio" name="multiplicacion" id="multiplicacion" style="margin-right: 5px;"/> Multiplicación<br>
    <input type="radio" name="division" id="division" style="margin-right: 5px;"/> División <br><br>
    <input type = "submit" style="margin-right: 15px;"/><input type="reset"/>
</form>
{% endblock %} -->
{% extends 'layout.html'%}
{% block content %}

{% from '_macros.html' import camposNuevos%}
<div class="container">
<div class="now">
    <form action="sent" action="/index" id="contactForm" method="POST">
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{camposNuevos(form.apaterno,class='form-control')}}

            </div>

        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 float-label-form-group controls">
                {{camposNuevos(form.email,class='form-control')}}
            </div>
        </div>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <input type="submit" id="send-singup" name="singup" value="Registro">
    </form>
</div>
</div>
{% endblock %} 
